{# Floating chaos decorative elements #}
<div class="chaos-decor chaos-circle chaos-decor-1"></div>
<div class="chaos-decor chaos-square chaos-decor-2"></div>
<div class="chaos-decor chaos-circle chaos-decor-3"></div>
<div class="chaos-decor chaos-square chaos-decor-4"></div>
<div class="chaos-decor chaos-circle chaos-decor-5"></div>
